$color-footer:rgb(230, 207, 230);
$color-font:rgba(165, 16, 140);


body {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}


footer {
    background-color: $color-footer;
    padding-top: 5px;


    p {
        font-family: "Anton SC", sans-serif;
        font-weight: 400;
        font-style: normal;
        display: flex;
        justify-content: center;
        margin: 20px;
        align-items: center;
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 30px;

    }


}

.silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.silkscreen-bold {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
}


.redessociales ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 30px;
    padding-bottom: 30px;
    padding-right: 35px;

    i {
        padding: 20px;
    }

    a {
        color: $color-font;
    }
}

.tituloabajo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;

    padding-top: 10px;


    h1 {
        font-size: 25px;
        color: $color-font;


    }

    h2 {
        font-size: 25px;
        color:$color-font;
        padding-bottom: 100px;



    }

    h3 {
        font-size: 25px;
        color: $color-font;
        padding-top: 60px;


    }
}


