h2 {
    display: flex;
    justify-content: center;
    padding-top: 160px;
    padding-bottom: 40px;
    color: rgb(98, 125, 214);

}


.container2 {

    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 30px;
    padding-left: 100px;


    p {
        padding-top: 20px;
        padding-bottom: 50px;
        color: rgb(98, 125, 214);
        padding-right: 180px;
    }

    img {
        width: 70%;

    }

    .conjunto6 img {
        padding-top: 90px;
    }

    .conjunto7 img {
        padding-top: 80px;
        padding-right: 10px;
        width: 300px;
    }

    .conjunto8 img {
        padding-top: 60px;
        width: 400px;

    }

    .conjunto9 img {
        padding-top: 90px;

    }
}

.container3 {

    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 80px;
    padding-left: 100px;

    p {
        padding-top: 20px;
        padding-bottom: 50px;
        color: rgb(98, 125, 214);
        padding-right: 200px;
    }

    img {
        width: 70%;
    }

    .conjunto11 img {
        width: 380px;
    }

}

